name: CD - Publish Model

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed   

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install huggingface_hub

      - name: Find latest dated folder
        run: |
            MODEL_PATH=$(find artifacts -name "model.pkl" -type f -printf '%T@ %p\n' | sort -nr | head -n 1 | cut -d' ' -f2-)
            echo "MODEL_PATH=$MODEL_PATH" >> $GITHUB_ENV

      - name: Debug
        run: |
            echo "Using model at $MODEL_PATH"

      - name: Upload to HF
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          MODEL_PATH: ${{ env.MODEL_PATH }}
        run: |
          python <<EOF
          from huggingface_hub import HfApi
          import os

          api = HfApi()

          api.upload_file(
              path_or_fileobj=os.environ["MODEL_PATH"],
              path_in_repo="model.pkl",
              repo_id="DaniJorCa/elche_temperature_predictor",
              token=os.environ["HF_TOKEN"]
          )
          EOF
